<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Pruebas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Sumar</servlet-name>
    <servlet-class>sumador.Suma</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>OmyLR</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sumar</servlet-name>
    <url-pattern>/servlets/suma</url-pattern>
    <url-pattern>/Formulario/servlets/suma</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Util</servlet-name>
    <servlet-class>utilidad.util</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Util</servlet-name>
    <url-pattern>/servlets/util</url-pattern>
    <url-pattern>/Formulario/servlets/util</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Pais</param-name>
    <param-value>España</param-value>
  </context-param>
</web-app>